# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend-ferreteria/node_modules
/frontend-ferreteria/.pnp
.pnp.js

# testing
/frontend-ferreteria/coverage

# production
/frontend-ferreteria/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
